.info-tags{
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
    height: 40px;
}
.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.tag{
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-height: 30px;
    padding: 0.4rem 0.5rem;
}
.detail-item{
    
}